<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      User Information
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-text>{{ users.name }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Phone Number:</ion-label>
          <ion-text>{{ users.phone }}</ion-text>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card> -->
</ion-content>