<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      User Information
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Name:</ion-label>
          <ion-text>{{ user.name }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Phone Number:</ion-label>
          <ion-text>{{ user.phone }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>E-mail:</ion-label>
          <ion-text>{{ user.email }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Address:</ion-label>
          <ion-text>{{ user.address }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Company:</ion-label>
          <ion-text>{{ user.company }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Department:</ion-label>
          <ion-text>{{ user.department }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Position:</ion-label>
          <ion-text>{{ user.position }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Notes:</ion-label>
          <ion-text>{{ user.notes }}</ion-text>
        </ion-item>
        <!-- Add other user information fields -->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>