<ion-header>
  <ion-toolbar>
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Login</ion-button>
  </form>

  <!-- 添加注册信息和按钮 -->
  <div class="regist-info">
    <p>如果没有账户，请</p>
    <ion-button fill="clear" (click)="register()">注册</ion-button>
  </div>
</ion-content>