<ion-header>
  <ion-toolbar>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- Add Friend Module -->
  <ion-button expand="block" (click)="goToNewFriendPage()">Add Friend</ion-button>
</ion-content>

<!-- Contacts Module -->
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item-sliding *ngFor="let user of userList" (click)="openUserDetails(user.id)">
      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img [src]="user.avatar" alt="" />
        </ion-avatar>
        <ion-label>{{ user.name }}</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>