ion-label strong {
    display: block;

    max-width: calc(100% - 60px);

    overflow: hidden;

    text-overflow: ellipsis;
}

ion-label ion-note {
    font-size: 0.9rem;
}

ion-card {
    --ion-background-color: #f5f5f5;
    /* 设置卡片背景色 */
}