<ion-header>
  <ion-toolbar>
    <ion-title>
      Check-In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 显示当前位置信息和签到按钮 -->
  <ion-card>
    <ion-card-header>
      Current Location
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="currentPosition">Latitude: {{ currentPosition.coords.latitude }}</p>
      <p *ngIf="currentPosition">Longitude: {{ currentPosition.coords.longitude }}</p>
      <p *ngIf="currentTime">Current Time: {{ currentTime }}</p>
      <!-- 签到和签出按钮 -->
      <ion-button expand="block" (click)="checkIn()">Check In</ion-button>
      <ion-button expand="block" (click)="checkOut()">Check Out</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- 显示签到记录 -->
  <ion-list [inset]="true">
    <ion-item *ngFor="let record of checkInRecords" [button]="true" detail="false">
      <!-- 根据签到类型显示不同的图标 -->
      <div slot="start">
        <ion-icon [name]="record.checkIn ? 'briefcase-outline' : 'footsteps-outline'"></ion-icon>
      </div>
      <ion-label>
        &nbsp;&nbsp;Location: {{ record.companyName }} <!-- 显示签到地点 -->
        <!-- 如果有备注，显示备注信息，否则显示 "No Remark" -->
        <p *ngIf="record.remark !== undefined">Remark: {{ record.remark }}</p>
        <p *ngIf="record.remark === undefined">No Remark</p>
      </ion-label>
      <!-- 显示签到状态图标和签到时间 -->
      <div class="metadata-end-wrapper" slot="end">
        <ion-button fill="clear" [disabled]="true">
          <ion-icon [name]="record.checkIn ? 'checkmark-done-circle-outline' : 'close-circle-outline'"></ion-icon>
          {{ record.checkIn ? 'Check In' : 'Check Out' }} <!-- 根据签到类型显示签到或签出 -->
        </ion-button>
        <ion-note color="medium">{{ record.time }}</ion-note> <!-- 显示签到时间 -->
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>